

.jumbotron{
	height: 100%;
	background-image:url("/projetblogAlaska/MVC/images/Alaska1.jpg");
	background-size:cover;
	color:black;
}
.cardarticle{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
.texte{
	width:50%;
	margin-left:auto;
	margin-right:auto;
    text-align: justify;
    overflow: auto;
    margin-top:20px;
}
.italique{
	font-style:italic;
	font-weight: lighter;
}
.cardcomment{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	
}
.titre{
	text-align:center;
	text-decoration:underline;
}
.cardajoutcomment{
	margin-left:auto;
	margin-right:auto;
	width:50%
	
}
.cardajoutmembre{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}